
#contact-cta-container {
    height: fit-content;
    width: 80%;
    min-width: 300px;
    display: flex;
}
.contact-cta {
    height: fit-content;
    min-height: 500px;
    width: 50%;
    display: flex;
}

.contact-cta-right {
    justify-content: center;
    align-items: center;
}

.contact-cta-left {
    flex-flow: column nowrap;
    justify-content: center;
}
.contact-cta-left > * {
    padding: 10px;
}
.contact-cta-left > button {
    width: 20%;
}

.contact-form-wp {
    height: fit-content;
    width: 80%;
    margin: auto auto 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wpcf7-form {
    background: white;
    padding: 15px;
    border-radius: 5px;
}

.wpcf7-form > * input, textarea {
    background: #f3e1f8;
}