#cta-img, #cta-link{
    height: fit-content;
    max-height: 500px;
    min-width: 300px;
    display: flex;
}

.cta-link-revert {
    flex-direction: row-reverse;
}

.cta-left {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    padding: 15px;

}
.cta-left > * {
    padding: 8px 0;
}
.cta-right {
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a4b78;
    padding: 15px;
}

.cta-right > img {
     height: 100%;
     width: 100%;
}
.cta-left > button {
     padding: 15px!important;
 }


/* |-------------------------- 3CARD-CTA ----------------------------------|*/
/* |-------------------------- 3CARD-CTA ----------------------------------|*/
/* |-------------------------- 3CARD-CTA ----------------------------------|*/

#card-cta-container {
    height: fit-content;
    width: 80%;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 5px;
    margin: auto auto 5vh;
}
#card-title-wrapper{
    height: fit-content;
    min-height: 7vh;
}
#card-card-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}