* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #f3e1f8;
    color: black;
    font-family: 'Fira Code', monospace;
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}


.default-block {
    height: fit-content;
    width: 96%;
    border: 2px solid black;
    margin: auto auto 5vh;
}

.content-wrap {
    position: relative;
    padding-bottom: 12vh;
    width: 100%;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    outline: none;
}