* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #f3e1f8;
    color: black;
    font-family: 'Fira Code', monospace;
    min-height: 100vh;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}


.default-block {
    height: fit-content;
    width: 80%;
    background: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5vh 15px ;
    margin-bottom: 5vh;
}

.content-wrap {
    padding-bottom: 12vh;
}