
#footer-content {
    position: absolute;
    bottom: 0;
    height: 12vh;
    width: 100%;
    background: white;
    display: flex;
    flex-flow: column nowrap;
}

.footer-menu,  .footer-menu > ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.footer-icon {
    height: fit-content;
    width: 50%;
    margin: auto auto 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(1rem + 2vw);
    color: black;
}