
#menu-main {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: white;
    margin-bottom: 5vh;
    position: relative;
}
#menu-main > .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
#menu-main > .menu > ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
#menu-main > .menu > ul > li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vw);
}
#menu-main > .menu > ul > li:hover {
    background: #0a4b78;
}

#menu-main > .menu > ul > li:hover > a {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item-178 {
    order: 7;
}

#wiwidget {
    height: fit-content;
    width: 120px;
    background: #0a4b78;
    border-radius: 5px;
    margin: 5px;
    position: fixed;
    bottom: 8vh;
    z-index: 5;
}
.wiwip {
    color: white;
    padding: 5px;
}