#post-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 30%;
    min-width: 200px;
    max-width: 350px;
    background: #e898fd;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#card-title, p , a{
    color: black;
    text-decoration: none;
    padding: 3px;
}

#card-thumb {
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
#card-thumb {

}
#card-thumb > img {
    height: 100%;
    max-height: 220px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    max-width: 350px;
}

#card-excerpt {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    width: 100%;
}