
.single-post-title {
    color: red;
}

#single-post-container {
    height: fit-content;
    width: 80%;
    background: white;
    padding: 10px;
    margin: 0 auto 5vh auto;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
}

#single-post-container > img {
    max-height: 500px;
    object-fit: contain;
}